{% load static %}
<html>
    <head>
        <title>WorkLogs</title>
        <meta name="description" content="WorkLogs" />
        <meta name="keywords" content="WorkLogs" />
        <meta name="author" content="Rafał Selewońko <rselewonko@murator.com.pl>" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <link rel="icon" href="{% static "images/favicon.png" %}" type="image/png">
        <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/png">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
